.products {
  &__header {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: green;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
  }
  &__item {
    position: relative;
    padding: 10px;
    background-color: #e7eef4;
    border-radius: 10px;
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  &__rating {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    font-size: 22px;
    line-height: 22px;
    font-weight: 600;
    color: blue;
  }
  &__title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: green;
  }
  &__price {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: orange;
  }
  &__img {
    max-width: 200px;
  }

}
